# This is the CODEOWNERS file. These owners will be the default owners for everything in the MOBILE-ANDROID-NETWORK repository
# The following below will be requested for review when someone opens a pull request.


* @govuk-one-login/mobile-common-android
