name: Release Networking module
on:
  push:
    branches: [ main ]

jobs:
  bump_version:
    env:
      JDK_VERSION: 17
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-24.04
    steps:
      - name: Run deployment workflow
        uses: govuk-one-login/mobile-android-pipelines@0e6427c1103ec789a38c21afddbca79ee9bda4e8
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
